<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="alumnos-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `alumnos-element`
     * Elemento para la conexion del iron ajax
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class AlumnosElement extends Polymer.Element {
      static get is() { return 'alumnos-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'alumnos-element'
          }
        };
      }
    }

    window.customElements.define(AlumnosElement.is, AlumnosElement);
  </script>
</dom-module>
